* {
    box-sizing: border-box;
}

:root {
    --backgroundLight: #76E7CD;
    --backgroundDark: #30BCED;
}

@keyframes backgroundAnimation {
    from {background-position: 0% center;}
    to {background-position: -200% center;}
}

body {
    background-image: linear-gradient(to right, var(--backgroundDark), var(--backgroundLight), var(--backgroundDark));
    background-size: 200%;
    animation: backgroundAnimation 10s infinite linear;
}

.hourNumber {
    padding: 0;
    margin: 0;
}

.HourContainer {
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    aspect-ratio: 1/1;
    width: min(35%, 300px);
}

.HourInfo {
    font-size: min(25px, 3vw)
}

.contentContainer {
    height: 100vh;
    padding-inline: 20px;
}

.amPm {
    aspect-ratio: 1/1;
    width: min(12%, 120px);
    background-color: rgba(255, 255, 255, 0.2);
}

.buttonWrapper {
    left: 50%;
    transform: translateX(-50%);
    bottom: max(20px, 5%);
    height: 10%;
}

.altButton {
    background-color: rgba(255, 255, 255, 0.3);
    width: min(30%, 140px);
    height: min(50%, 100px);
}